/* Global Colours */
/* Brainflix Brand Colours*/
@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: 'AvenirNextLTPro-Demi';
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
}

@font-face {
  font-family: 'AvenirNextLTPro-Bold';
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
}

.header-section {
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-section__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-section__search input {
  padding: 1.22em;
  width: 288px;
  margin: 0;
}

.header-section__search input::-webkit-input-placeholder {
  background: url("../assets/icons/SVG/Icon-search.svg") no-repeat left center;
}

.header-section__search input:-ms-input-placeholder {
  background: url("../assets/icons/SVG/Icon-search.svg") no-repeat left center;
}

.header-section__search input::-ms-input-placeholder {
  background: url("../assets/icons/SVG/Icon-search.svg") no-repeat left center;
}

.header-section__search input::placeholder {
  background: url("../assets/icons/SVG/Icon-search.svg") no-repeat left center;
}

.header-section__search button {
  margin-left: 1.8em;
}

.header-section__avitar {
  width: 48px;
  height: 48px;
  border-radius: 25px;
  overflow: hidden;
  margin-left: 1.5em;
}

.header-section__avitar img {
  width: auto;
  height: 100%;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Mixins */
/* Maintain consistant container widths */
/* Fonts */
body {
  margin: 0;
  color: #323232;
  font-family: "AvenirNextLTPro-Regular";
}

h1 {
  font-family: "AvenirNextLTPro-Bold";
  font-size: 2.25rem;
  line-height: 2.75rem;
}

.hero-header {
  font-size: 3.75rem;
  line-height: 4.25rem;
  color: #fff;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

h2 {
  font-family: "AvenirNextLTPro-Bold";
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
}

h3 {
  font-family: "AvenirNextLTPro-Demi";
  font-size: 1rem;
  line-height: 1.5rem;
}

h4 {
  font-family: "AvenirNextLTPro-Regular";
  font-size: .88rem;
  line-height: 1.4rem;
  font-weight: 500;
}

.lists {
  line-height: 1.25rem;
  margin-right: 2em;
}

h5 {
  font-family: "AvenirNextLTPro-Demi";
  font-size: .75rem;
  line-height: 1.25rem;
  color: #AFAFAF;
  text-transform: uppercase;
}

section {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

button {
  text-transform: uppercase;
  padding: 1.25em;
  background: #0095FF;
  color: #fff;
  border-radius: 4px;
  border: none;
  float: right;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

button:hover {
  background: #0065AD;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

input, textarea {
  border: 1px solid #E1E1E1;
  background: #FAFAFA;
  border-radius: 4px;
  outline: none;
  width: 100%;
  margin: 0 0 2.2em 0;
  padding: 1.5em;
}

textarea,
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  font-family: "AvenirNextLTPro-Regular";
}

textarea,
textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
  font-family: "AvenirNextLTPro-Regular";
}

textarea,
textarea::-ms-input-placeholder,
input::-ms-input-placeholder {
  font-family: "AvenirNextLTPro-Regular";
}

textarea,
textarea::placeholder,
input::placeholder {
  font-family: "AvenirNextLTPro-Regular";
}

input:focus, textarea:focus {
  border-color: #0095FF;
}
/*# sourceMappingURL=app.css.map */