// Comments Styles

// @import "partials/fonts";
// @import "partials/colors";



.comments__wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 528px;
    margin: 0 auto;
    
    &--form-wrap{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width:100%;
    }
    &--image, .avitar {
        width: 48px;
        height:48px;
        border-radius: 25px;
        overflow: hidden;
        margin-top:1.5em;

        img, .avitar img{
            width:auto;
            height:100%;
        }
    }
    .comments__form{
        margin-left:1.25em;
        width:100%;
        max-width:460px;

        .input-lable h5{
            margin:0 0 .6em 0;
        }
        input, textarea{
            border:1px solid $text-field-border;
            background:$text-field-bg;
            border-radius: 4px;
            outline:none;
            width:100%;
            margin:0 0 2.2em 0;
            padding:1em
        }
        textarea, textarea::placeholder{
            font-family:$regular;
        }
        input:focus, textarea:focus{
            border-color:$main-black;
        }
        &--button{
            text-transform: uppercase;
            padding:1.5em 4.6em;
            background:$primary-cta-text-link;
            color:#fff;
            border-radius:4px;
            border:none;
            float:right;
            transition: all .2s ease-in-out;
            
            &:hover{
                background:$primary-cta-hover;
                transition: all .2s ease-in-out;
            }
        }
    }

    .comments__list{
        list-style-type: none;
        padding:0;
        margin:1.5em 0 2.5em;

        .avitar{
            margin:0;
        }
        h4{
            margin:0;
        }
        
        &--item{
            display: flex;
            justify-content: space-between;
            align-items:flex-start;
            padding: 1.5em 0;
            border-bottom:1px solid $divider;

            .details{
                width:100%;
                max-width:460px;
                margin-left:1.25em;
                display:flex;
                flex-direction: column;
                justify-content: flex-start;

                
                &__header{
                display: flex;
                justify-content: flex-start;
                align-items: center;

                }
                .name{
                    font-family:$demi;
                }
                .date,.since-posted{
                    color:$text-label;
                    margin-left:.9em;
                } 
                .comment-copy{
                    margin-top:.3em;
                }
                .delete-comment{
                    @extend .comments__form--button;
                    margin-top:1em;
                    padding:.5em 1.5em;
                    font-size:.7rem;
                    align-self: flex-end;
                    background:#ffffff;
                    color:$main-black;
                    border:1px solid $text-field-border;
                    border-radius:2px;
                    box-shadow:0px 10px 32px -4px $text-field-border;
                    text-transform:capitalize;

                    &:hover{
                        color:#ffffff;
                    }
                }
            }
        }
    }
    .comments__list li:first-child{
            border-top:1px solid $divider;
        }
    
}
@media screen and (max-width:580px){
    .comments{
        width:90%;
        max-width:none;
    }
    .comments__wrapper--image, .comments__wrapper .avitar{
        min-width:48px;
    }
}
@media screen and (max-width:414px){
    .comments__titles,
    .comments__list{
        margin:1.35em 0 1.7em;
    }
    .comments__form--button{
        width:100%;
    }
    .comments__wrapper .comments__list--item .details .delete-comment{
        width:100px;
    }
    .since-posted{
        display:none;
    }
    .comments__wrapper .comments__list--item .details__header{
        justify-content: space-between;
    }
}