// Comments Styles

    
    .comments-wrapper__form-wrap{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width:100%;
    }
    .comments-wrapper__image, .avitar {
        width: 48px;
        height:48px;
        border-radius: 25px;
        overflow: hidden;
        margin:1em .4em 0 0;

        img, .avitar img{
            width:auto;
            height:100%;
        }
    }
    .comments__form{
        width:80%;
        max-width:616px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        .comment-label h5{
            margin:0;
        }
        textarea{
            padding:.48em 1.22em;
            margin:0;

            &::placeholder{
                 transform: translateY(40%);
            }
        }
        &--button{
            width:100%;
            margin:1em 0 0;
            padding:1.12em 0;
            float:none;
        }
        
    }

    .comments__list{
        list-style-type: none;
        padding:0;
        margin:1.5em 0 2.5em;

        .avitar{
            margin:0;
        }
        h4{
            margin:0;
        }
        
        &--item{
            display: flex;
            justify-content: space-between;
            align-items:flex-start;
            padding: 1.5em 0;
            border-bottom:1px solid $divider;

            .details{
                width:100%;
                max-width:460px;
                margin-left:1.25em;
                display:flex;
                flex-direction: column;
                justify-content: flex-start;

                
                &__header{
                display: flex;
                justify-content: flex-start;
                align-items: center;

                }
                .name{
                    font-family:$demi;
                }
                .date,.since-posted{
                    color:$text-label;
                    margin-left:.9em;
                } 
                .comment-copy{
                    margin-top:.3em;
                }
                .delete-comment{
                    @extend .comments__form--button;
                    margin-top:1em;
                    padding:.5em 1.5em;
                    font-size:.7rem;
                    align-self: flex-end;
                    background:#ffffff;
                    color:$main-black;
                    border:1px solid $text-field-border;
                    border-radius:2px;
                    box-shadow:0px 10px 32px -4px $text-field-border;
                    text-transform:capitalize;

                    &:hover{
                        color:#ffffff;
                    }
                }
            }
        }
    }
    .comments__list li:first-child{
            border-top:1px solid $divider;
        }
   
        
@media screen and (min-width:768px){
     .comments-wrapper__form-wrap{
        justify-content: space-between;
    } 
    .comments__form{
        width:90%;
        margin:0 2.5em 0 0;
        
        textarea{
            max-width:440px;
        }
        &--button{
            width:160px;
            align-self: flex-end;
            margin-top: -46px
        }
    }
}

@media screen and (min-width:1440px){
   
    .comments__form{
        max-width:612px;

         textarea{
            max-width:436px;
        }
    }
}




//@media screen and (max-width:580px){
    // .comments{
    //     width:90%;
    //     max-width:none;
    // }
    // .comments__wrapper--image, .comments__wrapper .avitar{
    //     min-width:48px;
    // }
// }
// @media screen and (max-width:414px){
    // .comments__titles,
    // .comments__list{
    //     margin:1.35em 0 1.7em;
    // }
    // .comments__form--button{
    //     width:100%;
    // }
    // .comments__wrapper .comments__list--item .details .delete-comment{
    //     width:100px;
    // }
    // .since-posted{
    //     display:none;
    // }
    // .comments__wrapper .comments__list--item .details__header{
    //     justify-content: space-between;
    // }
//}