// Hero Styles

.hero-section{
    background:#000;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .video{
        width:100%;
        max-width:944px;
        margin:0 auto;
    }
    .control__icons{
        display: flex;
        justify-content: center;
        align-items:center;
        background:rgba(0,0,0,.6); 
        height:40px;
        border-radius: 4px;
    }
    .control{
            position: absolute;
            display:flex;
            justify-content: space-evenly;
            align-items:center;
            bottom:0;
            width:100%;
            max-width:912px;
            margin:0 auto 1rem;;

            &__play{
                margin-right:1rem;
                width:52px;
            }

            &__scrubber{
                width:100%;
                max-width:519px
            }
           
            &__screen-vol{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width:80px;
                margin-left:1rem;
            }
        }
}
@media screen and (min-width:768px){
.hero-section{
     .control{

        &__scrubber{
            max-width:751px;
        }
    }
}
   
}

